@if (bandit){
  <div class="d-flex flex-column bg-light-subtle shadow rounded-bottom justify-content-between">
    <div class="d-flex flex-row align-items-center justify-content-between p-3">
      <div class="d-flex flex-row gap-3 ms-5">
        <div>
          @if (bandit?.principalPhoto){
            <img src="data:image/png;base64,{{bandit?.principalPhoto}}" class="rounded shadow" alt="Imagem {{bandit?.name}}" height="150px" width="150px">
          } @else {
            <img src="./assets/default-placeholder-person.jpg" class="rounded shadow" alt="Imagem padrão" height="150px" width="150px">
          }
        </div>
        <div class="d-flex flex-column gap-1">
          <div class="d-flex flex-row gap-3">
            <span class="fw-bold fs-4">{{bandit?.name}}</span>
            <span class="badge text-bg-danger d-flex align-items-center">{{bandit?.surname }}</span>
          </div>
          <span class="fw-semibold fs-6 text-secondary"><span class="pi pi-id-card pe-2"></span>{{ bandit?.cpf | cPF}}</span>
          <span class="fw-semibold fs-6 text-secondary"><span class="pi pi-calendar pe-2"></span>{{ bandit?.birthday | customBdDate}}</span>
          <span class="fw-semibold fs-6 text-secondary"><span class="pi pi-inbox pe-2"></span>{{ bandit?.email }}</span>
          <span class="fw-semibold fs-6 text-secondary"><span class="pi pi-mobile pe-2"></span>{{ bandit?.phone }}</span>
        </div>
      </div>
      <div class="d-flex flex-column gap-2 me-5">
        <button class="btn btn-success" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
          <i class="pi pi-user-edit"></i>
          Editar
        </button>
        <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">
          <i class="pi pi-info"></i>
          Descrição
        </button>
      </div>
    </div>
    <ul class="nav nav-underline ms-5">
      <li class="nav-item pointer">
        <a class="nav-link"
           [ngClass]="tattooTab ? 'active': ''"
           (click)="setTabTattooActive()"
        >Tatuagens</a>
      </li>
      <li class="nav-item pointer">
        <a class="nav-link"
           [ngClass]="RGsTab ? 'active': ''"
           (click)="setTabRGsActive()"
        >RGs</a>
      </li>
      <li class="nav-item pointer">
        <a class="nav-link"
           [ngClass]="addressesTab ? 'active': ''"
           (click)="setTabAddressesActive()"
        >Endereços</a>
      </li>
      <li class="nav-item pointer">
        <a class="nav-link"
           (click)="setPhoneTabActive()"
           [ngClass]="phonesTab ? 'active': ''"
        >Telefones</a>
      </li>
      <li class="nav-item pointer">
        <a class="nav-link"
           (click)="setFamilyTabActive()"
           [ngClass]="familyTab ? 'active': ''"
        >Familiares</a>
      </li>
      <li class="nav-item pointer">
        <a class="nav-link"
           (click)="setGunsTabActive()"
           [ngClass]="gunsTab ? 'active': ''"
        >Armas</a>
      </li>
      <li class="nav-item pointer">
        <a class="nav-link"
           (click)="setChildsTabActive()"
           [ngClass]="childsTab ? 'active': ''"
        >Filhos</a>
      </li>
      <li class="nav-item pointer">
        <a class="nav-link" (click)="setMotorsTabActive()" [ngClass]="motorsTab ? 'active': ''">Veículos</a>
      </li>
      <li class="nav-item pointer">
        <a class="nav-link" (click)="setCompanyAssociateTabActive()" [ngClass]="CompanyAssociateTab ? 'active': ''">Empresas Associadas</a>
      </li>
      <li class="nav-item pointer">
        <a class="nav-link" (click)="setJobLocationTabActive()" [ngClass]="JobLocationTab ? 'active': ''">Local de Trabalho</a>
      </li>
      <li class="nav-item pointer">
        <a class="nav-link" (click)="setMomentsTabActive()" [ngClass]="MomentsTab ? 'active': ''">Ocorrências</a>
      </li>
      <li class="nav-item pointer">
        <a class="nav-link" (click)="setFriendsBanditTabActive()" [ngClass]="FriendBanditsTab ? 'active': ''">Comparsas</a>
      </li>
      <li class="nav-item pointer">
        <a class="nav-link" (click)="setSocialMediaTabActive()" [ngClass]="socialMediaTab ? 'active': ''">Redes Sociais</a>
      </li>
      <li class="nav-item pointer">
        <a class="nav-link"
           (click)="setPessoalSignalsTabActive()"
           [ngClass]="pessoalSignalsTab ? 'active': ''"
        >Sinais Particulares</a>
      </li>
      <li class="nav-item pointer">
        <a class="nav-link" (click)="setPhotosTabActive()" [ngClass]="photosTab ? 'active': ''">Fotos</a>
      </li>
    </ul>
  </div>


  <!-- MODAL DESCRIÇÃO -->
  <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Descrição</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <p>{{ bandit?.description }}</p>
    </div>
  </div>

  <!-- ABERTURA MODAL -->
  <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasRightLabel">Editar ficha</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      @if (bandit){
        <app-police-record-modal
          [bandit]="bandit"
        ></app-police-record-modal>
      }
    </div>
  </div>
}
