<div class="modal fade" id="detailsTattoo" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">Detalhes de tatuagem</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img src="../../../../../../assets/tattoo1.jpg" alt="Tatuagem de palhaço" class="w-100 rounded">
        <div class="d-flex flex-column"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">
          <i class="pi pi-pencil"></i>
        </button>
        <button type="button" class="btn btn-danger">
          <i class="pi pi-trash"></i>
        </button>
      </div>
    </div>
  </div>
</div>
