<div class="d-flex flex-column">
  <div class="d-flex flex-row justify-content-between m-3" style="height: 45px">
    <div class="d-flex">
      <input
        type="text"
        class="form-control"
        placeholder="Pesquisar"
      />
    </div>
    <button class="btn btn-success" type="button" data-bs-toggle="offcanvas" data-bs-target="#modalAddTattoo" aria-controls="staticBackdrop">
      <i class="pi pi-plus"></i>
      Adicionar
    </button>
  </div>
  <div class="d-flex flex-wrap justify-content-center p-5 gap-5">
    <div class="card" style="width: 18rem;">
      <img src="./assets/tattoo1.jpg" class="card-img-top" alt="..." style="height: 13rem">
      <div class="card-body">
        <h5 class="card-title">Nome da tatuagem</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">Local da tatuagem</h6>
        <h6 class="card-subtitle mb-2 text-body-secondary">Colorida</h6>
        <p class="card-text">Descrição da tatugem aqui</p>
        <button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#detailsTattoo">
          <i class="pi pi-info"></i>
        </button>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="./assets/tattoo1.jpg" class="card-img-top" alt="..." style="height: 13rem">
      <div class="card-body">
        <h5 class="card-title">Nome da tatuagem</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">Local da tatuagem</h6>
        <h6 class="card-subtitle mb-2 text-body-secondary">Colorida</h6>
        <p class="card-text">Descrição da tatugem aqui</p>
        <button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#detailsTattoo">
          <i class="pi pi-info"></i>
        </button>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="./assets/tattoo1.jpg" class="card-img-top" alt="..." style="height: 13rem">
      <div class="card-body">
        <h5 class="card-title">Nome da tatuagem</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">Local da tatuagem</h6>
        <h6 class="card-subtitle mb-2 text-body-secondary">Colorida</h6>
        <p class="card-text">Descrição da tatugem aqui</p>
        <button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#detailsTattoo">
          <i class="pi pi-info"></i>
        </button>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="./assets/tattoo1.jpg" class="card-img-top" alt="..." style="height: 13rem">
      <div class="card-body">
        <h5 class="card-title">Nome da tatuagem</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">Local da tatuagem</h6>
        <h6 class="card-subtitle mb-2 text-body-secondary">Colorida</h6>
        <p class="card-text">Descrição da tatugem aqui</p>
        <button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#detailsTattoo">
          <i class="pi pi-info"></i>
        </button>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="./assets/tattoo1.jpg" class="card-img-top" alt="..." style="height: 13rem">
      <div class="card-body">
        <h5 class="card-title">Nome da tatuagem</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">Local da tatuagem</h6>
        <h6 class="card-subtitle mb-2 text-body-secondary">Colorida</h6>
        <p class="card-text">Descrição da tatugem aqui</p>
        <button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#detailsTattoo">
          <i class="pi pi-info"></i>
        </button>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="./assets/tattoo1.jpg" class="card-img-top" alt="..." style="height: 13rem">
      <div class="card-body">
        <h5 class="card-title">Nome da tatuagem</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">Local da tatuagem</h6>
        <h6 class="card-subtitle mb-2 text-body-secondary">Colorida</h6>
        <p class="card-text">Descrição da tatugem aqui</p>
        <button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#detailsTattoo">
          <i class="pi pi-info"></i>
        </button>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="./assets/tattoo1.jpg" class="card-img-top" alt="..." style="height: 13rem">
      <div class="card-body">
        <h5 class="card-title">Nome da tatuagem</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">Local da tatuagem</h6>
        <h6 class="card-subtitle mb-2 text-body-secondary">Colorida</h6>
        <p class="card-text">Descrição da tatugem aqui</p>
        <button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#detailsTattoo">
          <i class="pi pi-info"></i>
        </button>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="./assets/tattoo1.jpg" class="card-img-top" alt="..." style="height: 13rem">
      <div class="card-body">
        <h5 class="card-title">Nome da tatuagem</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">Local da tatuagem</h6>
        <h6 class="card-subtitle mb-2 text-body-secondary">Colorida</h6>
        <p class="card-text">Descrição da tatugem aqui</p>
        <button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#detailsTattoo">
          <i class="pi pi-info"></i>
        </button>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="./assets/tattoo1.jpg" class="card-img-top" alt="..." style="height: 13rem">
      <div class="card-body">
        <h5 class="card-title">Nome da tatuagem</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">Local da tatuagem</h6>
        <h6 class="card-subtitle mb-2 text-body-secondary">Colorida</h6>
        <p class="card-text">Descrição da tatugem aqui</p>
        <button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#detailsTattoo">
          <i class="pi pi-info"></i>
        </button>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="./assets/tattoo1.jpg" class="card-img-top" alt="..." style="height: 13rem">
      <div class="card-body">
        <h5 class="card-title">Nome da tatuagem</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">Local da tatuagem</h6>
        <h6 class="card-subtitle mb-2 text-body-secondary">Colorida</h6>
        <p class="card-text">Descrição da tatugem aqui</p>
        <button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#detailsTattoo">
          <i class="pi pi-info"></i>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- MODAL DETAILS OF TATTOO -->
<app-bandit-tattoo-detail-modal></app-bandit-tattoo-detail-modal>

<!-- Modal Add tattoo -->
<app-bandit-tattoos-modal></app-bandit-tattoos-modal>
