<div class="d-flex flex-column">
  <div class="d-flex flex-row justify-content-end me-3 mt-3" style="height: 45px">
    <button class="btn btn-success">
      <i class="pi pi-plus"></i>
      Adicionar
    </button>
  </div>
  <div class="d-flex flex-wrap justify-content-center p-5 gap-5">
    <div class="card" style="width: 18rem;">
      <img src="./assets/tattoo1.jpg" class="card-img-top" alt="..." style="height: 13rem">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-warning">
          <i class="pi pi-info"></i>
        </a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="./assets/tattoo2.jpg" class="card-img-top" alt="..." style="height: 13rem">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-warning">
          <i class="pi pi-info"></i>
        </a>
      </div>
    </div>
    <div class="card" style="width: 18rem">
      <img src="./assets/tattoo3.jpg" class="card-img-top" alt="..." style="height: 13rem">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-warning">
          <i class="pi pi-info"></i>
        </a>
      </div>
    </div>
  </div>
</div>
