<form [formGroup]="resourceForm">
  @if(bandit?.id){
  <div class="text-center">
    <label for="file-input">
      <img
        src="./assets/default-placeholder-person.jpg"
        style="cursor: pointer"
        class="rounded shadow"
        alt="Imagem padrão"
        height="150px"
        #imagePreview
      />
    </label>
    <input
      type="file"
      id="file-input"
      style="display: none"
      (change)="onFileSelected($event)"
      #fileInput
    />
  </div>
  }
  <div class="d-flex flex-column gap-2">
    <div>
      <label for="name" class="form-label">Nome</label>
      <input
        type="text"
        class="form-control"
        id="name"
        placeholder="Ex: José Arnaldo Siqueira"
        formControlName="name"
      />
      @if (resourceForm.controls["name"].invalid &&
      resourceForm.controls["name"].touched){
      <span class="badge rounded-pill text-bg-danger"
        >O nome é obrigatório</span
      >
      }
    </div>
    <div>
      <label for="surname" class="form-label">Vulgo</label>
      <input
        type="text"
        class="form-control"
        id="surname"
        placeholder="Ex: Irmão menor"
        formControlName="surname"
      />
    </div>
    <div>
      <label for="description" class="form-label">Descrição</label>
      <textarea
        class="form-control"
        id="description"
        rows="3"
        formControlName="description"
      ></textarea>
      @if (resourceForm.controls["description"].invalid &&
      resourceForm.controls["description"].touched){
      <span class="badge rounded-pill text-bg-danger"
        >Descrição só é permitida no tamanho máximo de 255 caracteres</span
      >
      }
    </div>
    <div>
      <label for="cpf" class="form-label">CPF</label>
      <input
        type="text"
        class="form-control"
        id="cpf"
        placeholder="Ex: 123.456.789-00"
        formControlName="cpf"
      />
      @if (resourceForm.controls['cpf'].invalid &&
      resourceForm.controls['cpf'].touched){
      @if(resourceForm.controls['cpf'].errors?.['required']){
      <span class="badge rounded-pill text-bg-danger">O CPF é obrigatório</span>
      } @else if (resourceForm.controls["cpf"].errors?.["pattern"]){
      <span class="badge rounded-pill text-bg-danger"
        >Somente é aceito números no CPF</span
      >
      } @else if (resourceForm.controls["cpf"].errors?.["maxlenght"]){
      <span class="badge rounded-pill text-bg-danger"
        >Somente é aceito até 14 caracteres no CPF</span
      >
      } }
    </div>
    <div>
      <label for="birthday" class="form-label">Data de nascimento</label>
      <input
        type="date"
        class="form-control"
        id="birthday"
        formControlName="birthday"
      />
    </div>
    <div class="mb-3">
      <label for="phone" class="form-label">Celular</label>
      <input
        type="text"
        class="form-control"
        id="phone"
        placeholder="Ex: (19)997221478"
        formControlName="phone"
      />
    </div>
    <div class="input-group">
      <input
        type="email"
        class="form-control"
        placeholder="Email"
        aria-label="Email"
        aria-describedby="basic-addon1"
        formControlName="email"
      />
      <span class="input-group-text" id="basic-addon1">&#64;</span>
    </div>
    <div class="input-group">
      <input
        type="text"
        class="form-control"
        placeholder="Peso"
        aria-label="Kilogramas"
        formControlName="weight"
      />
      <span class="input-group-text">kg</span>
    </div>
    <div class="input-group">
      <input
        type="text"
        class="form-control"
        placeholder="Altura"
        aria-label="Cm"
        formControlName="height"
      />
      <span class="input-group-text">cm</span>
    </div>
    <div class="text-center mt-3">
      <div class="d-flex flex-row gap-3 justify-content-center">
        <button
          class="btn btn-secondary"
          type="button"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        >
          Cancelar
        </button>
        <button class="btn btn-primary">Cadastrar</button>
      </div>
    </div>
  </div>
</form>
