<app-police-record-toolbar>
  <app-police-record-modal
    (loadNewDataAgain)="initData()"
  ></app-police-record-modal>
</app-police-record-toolbar>
<p-toast [hideTransitionOptions]="'1500ms'"></p-toast>

<div class="d-flex justify-content-center">
  <div class="m-5 w-100 rounded shadow">
    <div class="d-flex flex-row m-3 justify-content-between" style="height: 45px">
      <div class="d-flex">
        <input
          type="text"
          class="form-control"
          placeholder="Pesquisar"
          (input)="setSimilarity($event)">
      </div>
      <button class="btn btn-success">
        <i class="pi pi-file-export"></i>
        Exportar
      </button>
    </div>
    <div class="m-3">
      <table class="table table-hover">
        <thead class="text-secondary">
        <tr>
          <th>Foto</th>
          <th>Nome</th>
          <th>Vulgo</th>
          <th>CPF</th>
          <th>Altura(cm)</th>
          <th>Peso(kg)</th>
          <th class="d-flex justify-content-center">Ações</th>
        </tr>
        </thead>
        <tbody>
          @for(item of bandits; track item){
            <tr>
              <td>
                @if (item.principalPhoto){
                  <img src="data:image/png;base64,{{item?.principalPhoto}}" class="rounded shadow" alt="Imagem {{item?.name}}" height="40px" width="40px">
                } @else {
                  <img src="./assets/default-placeholder-person.jpg" class="rounded shadow" alt="Imagem padrão" height="40px" width="40px">
                }
              </td>
              <td>{{item.name ?? "-"}}</td>
              <td>{{item.surname ?? "-"}}</td>
              <td>{{item.cpf ?? "-" | cPF}}</td>
              <td>{{item.height ?? "-"}}</td>
              <td>{{item.weight ?? "-"}}</td>
              <td>
                <div class="d-flex flex-row gap-3 justify-content-center">
                  <button class="btn btn-primary" [routerLink]="[item.id]">
                    <i class="pi pi-pencil"></i>
                  </button>
                  <button class="btn btn-danger"
                          data-bs-toggle="modal"
                          data-bs-target="#deleteModal"
                          (click)="setPossibleDeleteBandit(item)"
                  >
                    <i class="pi pi-trash"></i>
                  </button>
                  <button [ngClass]="item.principalPhoto ? '' : 'disabled' "
                          class="btn btn-warning"
                          data-bs-toggle="offcanvas"
                          data-bs-target="#offCanvasDetalhe"
                          aria-controls="offcanvasRight"
                          (click)="setDetailsBandit(item.id)"
                  >
                    <i class="pi pi-info"></i>
                  </button>
                </div>
              </td>
            </tr>
          } @empty {
            <tr>
              <td>Nenhum dado encontrado...</td>
            </tr>
          }
        </tbody>
      </table>
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
          <li [ngClass]="page >= numberOfRows ? 'page-item pointer' : 'page-item disabled'">
            <a class="page-link" (click)="changePagePrevious()"><i class="pi pi-angle-double-left"></i></a>
          </li>
          <li [ngClass]="page < numberOfRows ? 'page-item pointer' : 'page-item disabled'">
            <a class="page-link" (click)="changePageNext()"><i class="pi pi-angle-double-right"></i></a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>

<!-- details -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="offCanvasDetalhe" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasRightLabel">Foto principal de {{banditDetail?.surname}}</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="d-flex align-items-center flex-column">
      @if (banditDetail?.principalPhoto){
        <img src="data:image/png;base64,{{banditDetail?.principalPhoto}}" class="rounded shadow" alt="Imagem {{banditDetail?.name}}" height="250px" width="250px">
      } @else {
        <img src="./assets/default-placeholder-person.jpg" class="rounded shadow" alt="Imagem padrão" height="250px" width="250px">
      }
    </div>
  </div>
</div>

<!-- Modal delete -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Exclusão de ficha de {{possibleDeleteBandit?.name}}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Você tem certeza que deseja excluir a ficha?
        <div class="d-flex align-items-center flex-column">
          @if (possibleDeleteBandit?.principalPhoto){
            <img src="data:image/png;base64,{{possibleDeleteBandit?.principalPhoto}}" class="rounded shadow" alt="Imagem {{possibleDeleteBandit?.name}}" height="250px" width="250px">
          } @else {
            <img src="./assets/default-placeholder-person.jpg" class="rounded shadow" alt="Imagem padrão" height="250px" width="250px">
          }
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Não</button>
        <button type="button" class="btn btn-primary" (click)="delete(possibleDeleteBandit.id)">Sim</button>
      </div>
    </div>
  </div>
</div>
